body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#link {
    font-family: 'Roboto', 'Corbel', 'Avenir', 'Lucida Grande', 'Lucida Sans', sans-serif;
    text-align: center;
}
a, a.visited {
    padding: 5px;
    background-color: #0a4b33;
    color: white;
    text-decoration: none;
}
div {
    padding: 5px;
    margin: 5px;
    border: 5px solid;
    width: 25%;
    position: fixed;
}
#one {
    border-color: red;
    top: 5%;
    left: 5%
}
#two {
    border-color: green;
    top: 5%;
    right: 5%;
}
#three {
    border-color: blue;
    bottom: 5%;
    left: 5%;
}
#four {
    border-color: purple;
    bottom: 5%;
    right: 5%;
}